# Week3 - Assignment for the classes 02/26 and 02/27
## 1. Create a file calc.py which has following functions
a. Function to find the factorial of a number

b. Function to convert degree to Fahrenheit

Write a new program in file “maths.py” such that you import functions of the file calc.py to your new program. Use from import statement to import the functions from the calc module

In [10]:
from my_package import fact_fahr_cal_pkg

In [2]:
# factorial of a given number

a = int(input('Enter the value for factorial : '))
print (fact_func.__doc__)
print('factorial of a number', a, 'is :', fact_func(a))

a = int(input('Enter degree value to convert into fahrenheit : '))
print(fahr_func.__doc__)
print('conversion of a number', a, 'is :', fahr_func(a))

Enter the value for factorial : 5

NameError: name 'fact_func' is not defined

# 2. Implement a simple generator for Fibonacci series

In [36]:
def generator_func1(a):
    '''Get the fibanocci series for the given value'''
    i = 0
    j = 1
    if a == 0:
        j = a
        print('accept the va5lue greater than 0')
        yield j
    else:
        if a == 1:
            j = i
            yield j
        else:
            for b in range(2,a+1):
                if b == 2:
                    print(i)
                k = i + j
                i = j
                j = k
                yield j

In [37]:
a = int(input('Enter the value for factorial : '))
fib = generator_func1(a)
if a > 2:
    for i in range(a-1):
        print(next(fib))
else:
    print(next(fib))

Enter the value for factorial : 8
0
1
2
3
5
8
13
21

# 3. Write an iterator class to iterate over a sequence of values in the reverse direction

In [38]:
def gen_rev(arg1):
    a = ''
    len1 = len(arg1)
    for i in range(len1-1,-1,-1):
        a = a + arg1[i]
    my_iter = iter(a)
    print(a)
    for i in range(len1):
        print(next(my_iter))

In [39]:
rev = gen_rev('Mahammad Rafi')

ifaR dammahaM
i
f
a
R

d
a
m
m
a
h
a
M

# 4. Write a function “salary” that takes in base pay, HRA and special allowance as arguments and
# returns the sum of all the 3 salary elements. Then create a decorator function to add an additional element
# “Tax” (30% of base pay) and assign it back to base pay variable, and return the function
# (i.e., the final calculation of salary also includes tax)
# Method - 1

In [40]:
def decorating_fn(fn):
    def nested_fn(base_pay,hra,sp_allow):   ## decorating function
        tax = 0
        
        print("Base Pay : ", base_pay, ' HRA : ', hra, ' special allownce : ', sp_allow)
        print(' ')
        
        tax = (base_pay * 30)/100
                
        return fn(base_pay,hra,sp_allow), tax
    return nested_fn

In [41]:
@decorating_fn   ### place the decorating function on top of the fn that needs to be decorated
def ordinary_fn(base_pay,hra,sp_allow):
    return (base_pay + hra + sp_allow)

In [42]:
base_pay = int(input('Enter the amount for BASIC Pay : '))
hra      = int(input('Enter the amount for HRA : '))
sp_allow = int(input('Enter the amount for Special allowances : '))
print(' ')

if (base_pay == 0 & hra == 0):
    print('Invalid salary amount received')
else: 
    tot_sal, tax_ded = ordinary_fn(base_pay, hra, sp_allow)
    print('Total salary of an employee is : ', tot_sal,'\n')
    print('Net Salary after tax deduction is : ', tot_sal - tax_ded ,'\n')
    print('tax deducted on the total salary is : ', tax_ded)

Enter the amount for BASIC Pay : 25000
Enter the amount for HRA : 30000
Enter the amount for Special allowances : 200

Base Pay :  25000  HRA :  30000  special allownce :  200

Total salary of an employee is :  55200

Net Salary after tax deduction is :  47700.0

tax deducted on the total salary is :  7500.0

# Method - 2

In [43]:
def decorating_fun(fn):                    ##  #---> 3
    def nested_fn(base_pay,hra,sp_allow):
        tot_sal = 0
        tot_sal = fn(base_pay,hra,sp_allow)
        tax = (base_pay*30)/100             ##  #---> 5
        return tot_sal, tax
    return nested_fn                       ##  #---> 4

def ordinary_fn(base_pay,hra,sp_allow):
    return (base_pay + hra + sp_allow)
    
dec = decorating_fun(ordinary_fn)          ##  #---> 2

a = int(input('Enter the amount for BASIC Pay : '))
b = int(input('Enter the amount for HRA : '))
c = int(input('Enter the amount for Special allowances : '))
print(' ')

tot_sal,tax_ded = dec(a,b,c)

print('Total salary of an employee is : ', tot_sal)
print('Net Salary after tax deduction is : ', tot_sal - tax_ded ,'\n')
print('tax deducted on the total salary is : ', tax_ded)

Enter the amount for BASIC Pay : 2500
Enter the amount for HRA : 1000
Enter the amount for Special allowances : 500

Total salary of an employee is :  4000
Net Salary after tax deduction is :  3250.0

tax deducted on the total salary is :  750.0

# 5. Write 3 examples on possible methods to changing a tuple

In [44]:
tupl1 = ('Rafi', 'Mahammad', 'Apple', [3,4,5])

In [46]:
tupl1[1] = 'rafi M'

TypeError: 'tuple' object does not support item assignment

# Example 1 to update the tuple

In [48]:
tupl1[3][1] = 11

In [49]:
tupl1

('Rafi', 'Mahammad', 'Apple', [3, 11, 5])

# Example 2 to update the tuple

In [50]:
list1 = list(tupl1)
print(type(list1))
print(list1)
print(tupl1)
type(tupl1)

<class 'list'>
['Rafi', 'Mahammad', 'Apple', [3, 11, 5]]
('Rafi', 'Mahammad', 'Apple', [3, 11, 5])

tuple

In [51]:
list1[1] = 'Rafi Mahammad'
type(tupl1)

tuple

In [52]:
list1

['Rafi', 'Rafi Mahammad', 'Apple', [3, 11, 5]]

In [53]:
tupl1 = tuple(list1)
tupl1

('Rafi', 'Rafi Mahammad', 'Apple', [3, 11, 5])

# Example 3 to update the tuple

In [54]:
list2 = list(tupl1)

In [55]:
list2.append('Mango')
list2

['Rafi', 'Rafi Mahammad', 'Apple', [3, 11, 5], 'Mango']

In [56]:
list2.remove('Mango')

In [57]:
list2

['Rafi', 'Rafi Mahammad', 'Apple', [3, 11, 5]]

In [58]:
tupl2 = tuple(list2)
tupl2

('Rafi', 'Rafi Mahammad', 'Apple', [3, 11, 5])