# Test on python basics(list, tuple) , numpy, pandas operations - 13th March, 2022

In [1]:
import numpy as np
import pandas as pd

# 1. Create a program that asks the user to enter their name and their age. Print out a message that tells them the year that they will turn 100 years old

In [3]:
def age_cal(age):
    age_diff = 0
    age_to_100y = 0
    Curr_year = 2022
    age_diff  = 100 - age
    age_to_100y = Curr_year + age_diff
    return age_to_100y

name = input('Enter the name of the employee :')
age  = int(input('Enter the age of the employee :'))

if age <= 100:
    age100 = age_cal(age)
    print('Employee ', name,'will be completing 100 years in the year of : ', age100)
else:
    print('Employee ', name, 'already crossed age of 100 years')

Enter the name of the employee :Mahammad Rafi
Enter the age of the employee :84
Employee  Mahammad Rafi will be completing 100 years in the year of :  2038

# 2. What is pandas groupby? Demonstrate with your own example

In [4]:
df = pd.DataFrame({'state': ['Tamilnadu','telangana','karanataka','goa'], 
        'city': ['Chennai','Hyderabad','Banglore','panaji'], 
         'const': [10,20,10,40], 
         'No_of_school': [100,200,300,105]})

print('Dataframe : ', df)
print('\n')
print('Mean : ', df['const'].mean(),'\n')

print('Median : ', df['const'].median(),'\n')

print('Mode : ', df['const'].mode(),'\n')

print('sum : ', df.sum())

Dataframe :          state       city  const  No_of_school
0   Tamilnadu    Chennai     10           100
1   telangana  Hyderabad     20           200
2  karanataka   Banglore     10           300
3         goa     panaji     40           105


Mean :  20.0

Median :  15.0

Mode :  0    10
dtype: int64

sum :  state           Tamilnadutelanganakaranatakagoa
city             ChennaiHyderabadBanglorepanaji
const                                        80
No_of_school                                705
dtype: object

# 3. How to create a dataframe from list?

In [7]:
list1 = [[25, 'Tom', 4.23], 
         [26, 'Jams', 3.24], 
         [25, 'Ricky', 3.98], 
         [23, 'Vin', 2.56], 
         [30, 'Steve', 3.20], 
         [29, 'Smith', 4.60], 
         [23, 'Jeak', 3.80]]

df = pd.DataFrame(list1, columns = ['Age', 'Name','Rating'])

df

   Age   Name  Rating
0   25    Tom    4.23
1   26   Jams    3.24
2   25  Ricky    3.98
3   23    Vin    2.56
4   30  Steve    3.20
5   29  Smith    4.60
6   23   Jeak    3.80

# 4. What are the ways to combine the dataframe in pandas. Give an example for each

In [10]:
list1 = [[25, 'Tom', 4.23], 
         [26, 'Jams', 3.24], 
         [25, 'Ricky', 3.98], 
         [23, 'Vin', 2.56], 
         [30, 'Steve', 3.20], 
         [29, 'Smith', 4.60], 
         [23, 'Jeak', 3.80]]

list2 = [[35, 'Tom', 4.23], 
         [36, 'Jams', 3.24], 
         [35, 'Ricky', 3.98], 
         [33, 'Vin', 2.56], 
         [31, 'Steve', 3.20], 
         [39, 'Smith', 4.60], 
         [33, 'Jeak', 3.80]]

df1 = pd.DataFrame(list1,  columns = ['Age', 'Name','Rating'])
df2 = pd.DataFrame(list2,  columns = ['Age', 'Name','Rating'])

df3 = pd.concat([df1, df2], axis = 0)

df4 = pd.concat([df1, df2], axis = 1)

print('Combining the dataframe with row wise \n')
print(df3)

Combining the dataframe with row wise

   Age   Name  Rating
0   25    Tom    4.23
1   26   Jams    3.24
2   25  Ricky    3.98
3   23    Vin    2.56
4   30  Steve    3.20
5   29  Smith    4.60
6   23   Jeak    3.80
0   35    Tom    4.23
1   36   Jams    3.24
2   35  Ricky    3.98
3   33    Vin    2.56
4   31  Steve    3.20
5   39  Smith    4.60
6   33   Jeak    3.80

In [11]:
print(' ')

In [12]:
print('Combining the dataframe with column wise \n')
print(df4)

Combining the dataframe with column wise

   Age   Name  Rating  Age   Name  Rating
0   25    Tom    4.23   35    Tom    4.23
1   26   Jams    3.24   36   Jams    3.24
2   25  Ricky    3.98   35  Ricky    3.98
3   23    Vin    2.56   33    Vin    2.56
4   30  Steve    3.20   31  Steve    3.20
5   29  Smith    4.60   39  Smith    4.60
6   23   Jeak    3.80   33   Jeak    3.80

# 5. What is the difference between list and tuples in Python?

In [13]:
list1 = [10, 20, 30, 40, 50]

In [14]:
tuple1 = (100, 200, 800, 300, 400, 500)

In [15]:
list1[0]

10

In [16]:
tuple1[0]

100

In [17]:
list1[0] = '11'    ## we can replace the value in list(mutable)

In [18]:
list1[0]

'11'

In [19]:
tuple1[0] = '111'   ## we can't replace the values in tuple(immutable)

TypeError: 'tuple' object does not support item assignment

In [20]:
print(list1)

print(tuple1)

['11', 20, 30, 40, 50]
(100, 200, 800, 300, 400, 500)

In [21]:
# 6. Find out the mean, median and standard deviation of this numpy array -> np.array([1,5,3,100,4,48])

In [22]:
np1 = np.array([1,5,3,100,4,48])

print('Average values of each row in list:', np.mean(np1))
print('Median values of each row in list :', np.median(np1))
print('Standard deviation values of each row in list :', np.std(np1))

Average values of each row in list: 26.833333333333332
Median values of each row in list : 4.5
Standard deviation values of each row in list : 36.59424666377065

# 7. How will you remove duplicate elements from a list?
## Method 1

In [23]:
list1 = [10,20,30,40,30]
print(list1, '\n')
mylist= list(dict.fromkeys(list1))
print(mylist)

[10, 20, 30, 40, 30]

[10, 20, 30, 40]

## Method 2

In [24]:
list1 = [10,20,30,40,30]

list1.sort()
print(list1, '\n')
j = 0
for i in list1:
    if i == j:
        print(i)
        list1.remove(i)
    else:
        j = i
list1

[10, 20, 30, 30, 40]

30

[10, 20, 30, 40]

# 8. What is a map() function in Python? Give an example

In [25]:
my_list1 = [1, 5, 4, 6, 8, 11, 3, 12]

print(my_list1, '\n')

new_list1 = list(map(lambda x: x*2, my_list1))

print(new_list1)

[1, 5, 4, 6, 8, 11, 3, 12]

[2, 10, 8, 12, 16, 22, 6, 24]

# 9. What is pass in Python?

In [26]:
for i in range(10):
    if i == 5:
        pass
    else:
        print(i)

0
1
2
3
4
6
7
8
9

# 10. What is vstack() in numpy? Give an example

In [27]:
x = np.array([[1,2],[3,4],[5,6]])
y = np.array([[11,12],[14,15],[16,17]])

np.vstack((x,y))

array([[ 1,  2],
       [ 3,  4],
       [ 5,  6],
       [11, 12],
       [14, 15],
       [16, 17]])