In [1]:
import os
import pandas as pd

In [2]:
os.getcwd()

'C:\\Users\\maham\\Training\\Datascience\\Python_practice'

In [3]:
os.chdir(r'C:\Users\maham\Documents')

In [4]:
os.getcwd()

'C:\\Users\\maham\\Documents'

In [7]:
df = pd.read_csv('Auto.csv', na_values=['#NAME?'])

In [9]:
df.head()

,Unnamed: 0,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,3,2,164.0,audi,gas,std,four,sedan,fwd,front,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,4,2,164.0,audi,gas,std,four,sedan,4wd,front,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [14]:
df

,Unnamed: 0,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,3,2,164.0,audi,gas,std,four,sedan,fwd,front,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,4,2,164.0,audi,gas,std,four,sedan,4wd,front,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
201,201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
202,202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
203,203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
204,204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

# Find the most expensive car company name

In [15]:
highest_price = max(df['price'])

In [16]:
highest_price

45400.0

In [17]:
make_of_most_expensive_car = df[df['price'] == highest_price]['make'].to_string(index=False).strip()

In [18]:
make_of_most_expensive_car

'mercedes-benz'

# Count total cars per company

In [21]:
df = pd.read_csv("C:\\Users\\maham\\Documents\\Auto.csv")
df['make'].value_counts()

toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
jaguar            3
chevrolet         3
alfa-romero       3
renault           2
mercury           1
Name: make, dtype: int64

# Find each companyâ€™s highest price car

In [22]:
df = pd.read_csv("C:\\Users\\maham\\Documents\\Auto.csv")
car_Manufacturers = df.groupby('make')
priceDf = car_Manufacturers['make','price'].max()
priceDf

C:\Users\maham\AppData\Local\Temp/ipykernel_13588/579114274.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  priceDf = car_Manufacturers['make','price'].max()

                        make    price
make
alfa-romero      alfa-romero  16500.0
audi                    audi  23875.0
bmw                      bmw  41315.0
chevrolet          chevrolet   6575.0
dodge                  dodge  12964.0
honda                  honda  12945.0
isuzu                  isuzu  11048.0
jaguar                jaguar  36000.0
mazda                  mazda  18344.0
mercedes-benz  mercedes-benz  45400.0
mercury              mercury  16503.0
mitsubishi        mitsubishi  14869.0
nissan                nissan  19699.0
peugot                peugot  18150.0
plymouth            plymouth  12764.0
porsche              porsche  37028.0
renault              renault   9895.0
saab                    saab  18620.0
subaru                subaru  11694.0
toyota                toyota  17669.0
volkswagen        volkswagen  13845.0
volvo                  volvo  22625.0

# Sort all cars by Price column

In [24]:
carsDf = pd.read_csv("C:\\Users\\maham\\Documents\\Auto.csv")
carsDf = carsDf.sort_values(by=['price', 'horsepower'], ascending=False)
carsDf.head(5)

,Unnamed: 0,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
74,74,1,NaN,mercedes-benz,gas,std,two,hardtop,rwd,front,...,304,mpfi,3.80,3.35,8.0,184.0,4500.0,14,16,45400.0
16,16,0,NaN,bmw,gas,std,two,sedan,rwd,front,...,209,mpfi,3.62,3.39,8.0,182.0,5400.0,16,22,41315.0
73,73,0,NaN,mercedes-benz,gas,std,four,sedan,rwd,front,...,308,mpfi,3.80,3.35,8.0,184.0,4500.0,14,16,40960.0
128,128,3,NaN,porsche,gas,std,two,convertible,rwd,rear,...,194,mpfi,3.74,2.90,9.5,207.0,5900.0,17,25,37028.0
17,17,0,NaN,bmw,gas,std,four,sedan,rwd,front,...,209,mpfi,3.62,3.39,8.0,182.0,5400.0,15,20,36880.0