# Day-2 session - 6th February 2022 on python
1.Keyword

2.Package

3.List

4.List comphrehension

5.Tuple

6.String

7.Set

8.Dictionaries
## keyword

In [2]:
import keyword

In [3]:
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [6]:
for i in range(0,5): 
    print(i)

0
1
2
3
4

In [7]:
for i in range(0,5): 
    print(i*2)

0
2
4
6
8

# Packages
# Create user defined packages as below
## Go to anaconda3 -> LIB -> Site-Packages -> Create your own folder for your package -> open the folder -> crerate text file and write the code you want to write for your package -> click on the "Save as" -> enter the name and extension with .py and then select All files -> Then click on the "Save as" Button
## A py file will created.
## Once after completing the creation of package, then import the package as below

In [9]:
from my_package import test_package

In [10]:
test_package.NAME

'PYTHON'

# List

In [12]:
list1 = [1,'Rafi','Data Science',2,'Believe','Almighty']
for i in list1:
    print(i)

1
Rafi
Data Science
2
Believe
Almighty

# List Comprehension

In [14]:
list1 = [1,'Rafi','Data Science',2,'Believe','Almighty']
[a for a in list1 if a=='Almighty']

['Almighty']

In [15]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# first for loop will execute and will check the if condition and then will go into the expression.
# a**2 -> expression (3)
# for a in range(11) --> loop (1)
# if a%2==0 -> condition (2)

In [17]:
power2= [a**2 for a in range(11) if a%2==0]   
print(power2)

[0, 4, 16, 36, 64, 100]

# SLICING - LIST
# List is mutable

In [20]:
list3 = [1,2,3,4,5,6,7,3,8,9,10]  #it will start from 0,1,2,3 like this it will go
list3[3]

4

In [21]:
list3

[1, 2, 3, 4, 5, 6, 7, 3, 8, 9, 10]

In [23]:
list3[-1], list3[-2]

(10, 9)

In [24]:
print(list3[-1])
print(list3[2:5])
print(list3[3])
list3[3]=12    ## list is mutable
print(list3)
print(list3[3])
print(list3[-2])
print(list3[-5:-1])
print(list3[-5:])

10
[3, 4, 5]
4
[1, 2, 3, 12, 5, 6, 7, 3, 8, 9, 10]
12
9
[7, 3, 8, 9]
[7, 3, 8, 9, 10]

# Tuple

# Tuple is immutable

In [26]:
a = (1,2,3,4,5)
a[2:4]

(3, 4)

In [27]:
a[2] = 13 ## can't assign value to tuple variable

TypeError: 'tuple' object does not support item assignment

# String

In [29]:
R ='Mahammad Rafi is a Data Scientist'
print(R)
type(R)
R[5]

Mahammad Rafi is a Data Scientist

'm'

In [30]:
print(R[-5:])
print(R[-5:-1])

ntist
ntis

In [31]:
R[5]='k'

TypeError: 'str' object does not support item assignment

# SET - unordered - set is not allowed slicing option and index

In [32]:
set1 = {1,2,3,3,4,6}
type(set1)

set

In [33]:
set1

{1, 2, 3, 4, 6}

In [34]:
set1[4]

TypeError: 'set' object is not subscriptable

In [36]:
set2 = {1,2,13,13,0,2,3,4,4,4,5,10,6,6,6,6,6,6,'string','string','Rafi'}
set2

{0, 1, 10, 13, 2, 3, 4, 5, 6, 'Rafi', 'string'}

# Dictionary
# unordered collection of key value pair

In [38]:
dict1 = {1: 'Rafi', 2: 'Mahammad', 3: 'Mango', 4: 'Apple', 4: 'Dollar'}
type(dict1)
dict1

{1: 'Rafi', 2: 'Mahammad', 3: 'Mango', 4: 'Dollar'}

In [43]:
dict1[2]

'Mahammad'

In [44]:
dict1

{1: 'Rafi', 2: 'Mahammad', 3: 'Mango', 4: 'Dollar'}

In [45]:
my_dict = {10: 'B' 'bb', 20: 'A' 'aa', 30: 'A' 'aa', 40: 'B' 'bb', 50: 'A' 'aa'}  
print(my_dict)

{10: 'Bbb', 20: 'Aaa', 30: 'Aaa', 40: 'Bbb', 50: 'Aaa'}