# Day-3 session - 12th February 2022 on python
Data type Conversion

Conversion of sequence from one to another(example : list to tuple, tuple to set, list to set)

Type Conversion

Input

Operators addition, multiplication, subtraction, Division

Logical operators

Assignment operators

Membership operators

IF Statements

IF and ELSE Statements

Nested IF statements

For loop

# Data type conversion

In [2]:
i=10;
float(i)

10.0

In [4]:
i=10;
type (i)

int

In [5]:
i=10;
int (i)

10

In [6]:
    int(10.5)

10

In [9]:
float('5.5')

5.5

In [10]:
int('5.5') # returns an integer from a given object or converts a number in a given base to decimal.

ValueError: invalid literal for int() with base 10: '5.5'

In [11]:
str(20)  ## it's like a varchar - accepts numerics, floating and char values

'20'

In [12]:
str(20.2)

'20.2'

In [13]:
list1=[1,5,2,3,3]
display(set(list1))
display(tuple(list1))

{1, 2, 3, 5}

(1, 5, 2, 3, 3)

In [14]:
set1={3,8,8,83}
tuple(set1)

(8, 3, 83)

In [15]:
list('LIST094')  ## CONVERTING INTO LIST

['L', 'I', 'S', 'T', '0', '9', '4']

In [16]:
list(['abc','xyz'])

['abc', 'xyz']

In [17]:
print(dict([["name","john"],[10,50]]))   ## CONVERTING INTO DICTIONARY WITH 2 DIMENTIONAL ARRAY

{'name': 'john', 10: 50}

# Type Conversion
* Implicit Conversion
* Explicit Conversion

In [18]:
int_var =10
float_var =15.5
conversion1 = int_var + float_var
print('Data type of int_var is: ', type(int_var))
print('Data type of float_var is: ', type(float_var))
print('The new value after conversion: ', conversion1)
print('Datatype of conversion1 is: ', type(conversion1))

Data type of int_var is:  <class 'int'>
Data type of float_var is:  <class 'float'>
The new value after conversion:  25.5
Datatype of conversion1 is:  <class 'float'>

In [20]:
int_var =10
string_var = "25.5"
conversion1 = int_var + float(string_var)     ## converting from string to float
print('Data type of int_var is: ', type(int_var))
print('Data type of float_var is: ', type(float_var))
print('The new value after conversion: ', conversion1)
print('Datatype of conversion1 is: ', type(conversion1))

Data type of int_var is:  <class 'int'>
Data type of float_var is:  <class 'float'>
The new value after conversion:  35.5
Datatype of conversion1 is:  <class 'float'>

In [21]:
int_var =10
string_var = float("15.5")           ## converting from string to float
conversion1 = int_var + string_var     
print('Data type of int_var is: ', type(int_var))
print('Data type of float_var is: ', type(float_var))
print('The new value after conversion: ', conversion1)
print('Datatype of conversion1 is: ', type(conversion1))

Data type of int_var is:  <class 'int'>
Data type of float_var is:  <class 'float'>
The new value after conversion:  25.5
Datatype of conversion1 is:  <class 'float'>

In [22]:
str='Mahammad'+' '+'Rafi'
print(str)

Mahammad Rafi

# Input

In [26]:
num = input('Enter the value:')

add = int(num) + 55   ## must need to convert the entered value as per your requirement and calculation
print(add)

Enter the value:4
59

In [30]:
num1 = input('Enter the first number:')
num2 = input('Enter the second number:')

add = int(num) + 55   ## must need to convert the entered value as per your requirement and calculation
print(add)

Enter the first number:4
Enter the second number:2
59

In [31]:
a = eval('10*8')    ## Eval will internally convert from string into integer and will calculate the multiplication
print(a)

80

# Operators addition, multiplication, sub, div,

In [34]:
x = 4
y = 5

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(round(x // y))     ## remove the floating values and will rounded the value
print(type(x // y))
print(x ** y)
print(x%y)

9
-1
20
0.8
0
<class 'int'>
1024
4

# Logical Operators

In [36]:
x = True             # 0+0 = 0
y = False            # 0+1 = 1
print(x and y)       # 1+ 0 = 1
print(x or y)        # 1+1 => sum = 0, carry = 1
print(not x)

False
True
False

In [37]:
x = True             # 0*0 = 0
y = False            # 0*1 = 1
print(x and y)       # 1* 0 = 1
print(x or y)        # 1*1 = 1
print(not x)

False
True
False

In [39]:
# True = 1 and False = 0
print(x and y) # 1*0 = 0
print(x or y)  # 1+0  = 1
print(not x)   # ~1 = 0
print(not y)   # ~0 = 1

False
True
False
True

# Assignment operators

In [43]:
x1 = 15
y1 = 15

x2 = 'Hello'
y2 = 'Hello'

x3 = [1,2,3]  ## it stores in one address location
y3 = [1,2,3]  ## it stores in different address location

x4 = (1,2,3)
y4 = (1,2,3)

In [46]:
print(x1 is y1)
# print(x1 is not y1)

True

In [47]:
print(x2 is y2)

True

In [48]:
print(x3 is y3)   ## we can't compare the list with other list value. 
                  ## position comparision will work. 
                  ## because array size can increase in future. 
                  ## So python didn't code internally to allow comparision list to list same way tuple to tuple
print(x3[1] is y3[1])   ## we can't compare the list with other list value. position comparision will work

False
True

In [49]:
print(x4 is y4)

False

In [50]:
id(x1), id(y1)  ## it is used to get the address where the value is stored(returns the reference number

(2094559226608, 2094559226608)

In [51]:
id(x2), id(y3)

(2094641126064, 2094641125888)

In [52]:
id(x3), id(y3)

(2094640268928, 2094641125888)

In [53]:
id(x3[0]), id(y3[0])

(2094559226160, 2094559226160)

In [54]:
id(x4[1]), id(y4[1])

(2094559226192, 2094559226192)

# Membership operators

In [56]:
x = 'Hello word'
y = {10: 'a', 12: 'b'}

In [57]:
print('h' in x)  ## Case sensitive that's why it's false
print('H' in x)
print(10 in y)
print('a' in y)

False
True
True
False

In [58]:
print('hello' in x)

False

In [59]:
print(10 in y)  ## checking in the dictionary and checking with key values

True

In [60]:
print('a' in y)  ## we can only refer to the keys in dictionary and not to the values

False

In [61]:
x = 'Hello word'
y = {10: 'a', 12: 'b', 10: 'c'}

In [62]:
print(y[10])   ## it will take the last entered value

c

# If Statements

In [64]:
num = int(input('enter the value:'))

enter the value:-4

In [67]:
num = int(input('enter the value:'))
if num > 0:
    print('positive value entered')
else:
    print('negative value entered')

enter the value:-2
negative value entered

# if else

In [69]:
num = int(input('enter the value:'))
if num > 0:
    print('positive value entered')
elif num == 0:
    print('zero value entered')
else:
    print('negative value entered')

enter the value:0
zero value entered

In [70]:
num = int(input('enter the value:'))
if num > 0:
    print('positive value entered')
elif num == 0:
    print('zero value entered')
else:
    print('negative value entered')

enter the value:-1
negative value entered

In [71]:
num = int(input('enter the value:'))
if num > 0:
    print('positive value entered')
elif num == 0:
    print('zero value entered')
else:
    print('negative value entered')

enter the value:1
positive value entered

# Nested if

In [73]:
num = int(input('enter the value:'))
if num >= 0:
    if num == 0:
        print('zero value entered')
    else:
        print('negative value entered')
else:
    print('negative value entered')

enter the value:0
zero value entered

In [74]:
num = int(input('enter the value:'))
if num >= 0:
    if num == 0:
        print('zero value entered')
    else:
        print('negative value entered')
else:
    print('negative value entered')

enter the value:1
negative value entered

In [75]:
num = int(input('enter the value:'))
if num >= 0:
    if num == 0:
        print('zero value entered')
    else:
        print('negative value entered')
else:
    print('negative value entered')

enter the value:-1
negative value entered

In [76]:
num = int(input('enter the value:'))
if num > 0:
    print('positive value entered')
else:
    if num == 0:
        print('zero value entered')
    else:
        print('negative value entered')

enter the value:0
zero value entered

In [77]:
num = int(input('enter the value:'))
if num > 0:
    print('positive value entered')
else:
    if num == 0:
        print('zero value entered')
    else:
        print('negative value entered')

enter the value:-1
negative value entered

In [78]:
num = int(input('enter the value:'))
if num > 0:
    print('positive value entered')
else:
    if num == 0:
        print('zero value entered')
    else:
        print('negative value entered')

enter the value:1
positive value entered

In [79]:
var_list2 = list([35, 21, 33])
print(var_list2[2])
print(var_list2)

33
[35, 21, 33]

In [80]:
list1 = [11,22,33,44,55]
add = 0

for i in list1:               ## for loop
    add = add + i
    print(add)

11
33
66
110
165

In [81]:
##list1 = [11,22,33,44,55]
##add = 0

for i in list1:               ## for loop
    add = add + i
    print(i,add)

11 176
22 198
33 231
44 275
55 330

In [82]:
##list1 = [11,22,33,44,55]
add = 0

for i in list1:               ## for loop
    if i == 33:
        break
    add = add + i
    print(i,add)

11 11
22 33

In [86]:
print('  8888','\n',' Mahammad Rafi')

  8888
  Mahammad Rafi