# Day-12 session - 13th March 2022 on python
## Pre-processing on CSV files(Datasets)

1.Get only the object column using select_dtypes() function

2.get the rows having the null values

3.One hot encoding

4.adding the new columns(dummies) for the specified columns

5.Label Binarizer

6.Replacing with numerics

7.Label Encoder

8.Customer binary encoding

In [1]:
import os 
import numpy as np
import pandas as pd

In [2]:
os.getcwd()

'C:\\Users\\maham\\Training\\Datascience\\Python_practice'

In [3]:
df = pd.read_csv(r'C:\Users\maham\Documents\Auto.csv')

In [4]:
os.getcwd()

'C:\\Users\\maham\\Training\\Datascience\\Python_practice'

In [10]:
os.getcwd()

'C:\\Users\\maham\\Training\\Datascience\\Python_practice'

In [11]:
os.chdir(r'C:\Users\maham\Documents')

In [12]:
os.getcwd()

'C:\\Users\\maham\\Documents'

In [13]:
df = pd.read_csv(r'C:\Users\maham\Documents\Auto.csv')

In [14]:
df = pd.read_csv('Adult.csv', na_values=['#NAME?'])

# Working with Auto dataset
## Categorical Conversion

In [15]:
df1 = pd.read_csv('Auto.csv')

In [16]:
df1.dtypes

Unnamed: 0             int64
symboling              int64
normalized_losses    float64
make                  object
fuel_type             object
aspiration            object
num_doors             object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num_cylinders         object
engine_size            int64
fuel_system           object
bore                 float64
stroke               float64
compression_ratio    float64
horsepower           float64
peak_rpm             float64
city_mpg               int64
highway_mpg            int64
price                float64
dtype: object

In [17]:
df1.columns

Index(['Unnamed: 0', 'symboling', 'normalized_losses', 'make', 'fuel_type',
       'aspiration', 'num_doors', 'body_style', 'drive_wheels',
       'engine_location', 'wheel_base', 'length', 'width', 'height',
       'curb_weight', 'engine_type', 'num_cylinders', 'engine_size',
       'fuel_system', 'bore', 'stroke', 'compression_ratio', 'horsepower',
       'peak_rpm', 'city_mpg', 'highway_mpg', 'price'],
      dtype='object')

# Get only the object column using select_dtypes() function

In [18]:
obj_col = df1.select_dtypes(include=['object'])
obj_col.dtypes

make               object
fuel_type          object
aspiration         object
num_doors          object
body_style         object
drive_wheels       object
engine_location    object
engine_type        object
num_cylinders      object
fuel_system        object
dtype: object

In [19]:
obj_col

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
0,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
1,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
2,alfa-romero,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi
3,audi,gas,std,four,sedan,fwd,front,ohc,four,mpfi
4,audi,gas,std,four,sedan,4wd,front,ohc,five,mpfi
...,...,...,...,...,...,...,...,...,...,...
200,volvo,gas,std,four,sedan,rwd,front,ohc,four,mpfi
201,volvo,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi
202,volvo,gas,std,four,sedan,rwd,front,ohcv,six,mpfi
203,volvo,diesel,turbo,four,sedan,rwd,front,ohc,six,idi
204,volvo,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi

In [20]:
obj_col[obj_col.isnull().any(axis=1)]

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
27,dodge,gas,turbo,NaN,sedan,fwd,front,ohc,four,mpfi
63,mazda,diesel,std,NaN,sedan,fwd,front,ohc,four,idi

In [21]:
obj_col['num_doors'].value_counts()

four    114
two      89
Name: num_doors, dtype: int64

In [22]:
obj_col['num_doors'].nunique()

2

In [23]:
obj_col.isnull().sum()

make               0
fuel_type          0
aspiration         0
num_doors          2
body_style         0
drive_wheels       0
engine_location    0
engine_type        0
num_cylinders      0
fuel_system        0
dtype: int64

In [24]:
obj_col.fillna({'num_doors':'four'})

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
0,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
1,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
2,alfa-romero,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi
3,audi,gas,std,four,sedan,fwd,front,ohc,four,mpfi
4,audi,gas,std,four,sedan,4wd,front,ohc,five,mpfi
...,...,...,...,...,...,...,...,...,...,...
200,volvo,gas,std,four,sedan,rwd,front,ohc,four,mpfi
201,volvo,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi
202,volvo,gas,std,four,sedan,rwd,front,ohcv,six,mpfi
203,volvo,diesel,turbo,four,sedan,rwd,front,ohc,six,idi
204,volvo,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi

In [25]:
obj_col[obj_col.isnull().any(axis=1)]

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
27,dodge,gas,turbo,NaN,sedan,fwd,front,ohc,four,mpfi
63,mazda,diesel,std,NaN,sedan,fwd,front,ohc,four,idi

In [26]:
obj_col = obj_col.fillna({'num_doors':'four'})

In [27]:
obj_col[obj_col.isnull().any(axis=1)]

Empty DataFrame
Columns: [make, fuel_type, aspiration, num_doors, body_style, drive_wheels, engine_location, engine_type, num_cylinders, fuel_system]
Index: []

# One hot encoding

In [28]:
obj_col['body_style'].value_counts()

sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: body_style, dtype: int64

In [29]:
obj_col['drive_wheels'].value_counts()

fwd    120
rwd     76
4wd      9
Name: drive_wheels, dtype: int64

# adding the new columns(dummies) for the specified columns

In [30]:
pd.get_dummies(obj_col, columns=['body_style', 'drive_wheels'],prefix=['body','drive']).head()

,make,fuel_type,aspiration,num_doors,engine_location,engine_type,num_cylinders,fuel_system,body_convertible,body_hardtop,body_hatchback,body_sedan,body_wagon,drive_4wd,drive_fwd,drive_rwd
0,alfa-romero,gas,std,two,front,dohc,four,mpfi,1,0,0,0,0,0,0,1
1,alfa-romero,gas,std,two,front,dohc,four,mpfi,1,0,0,0,0,0,0,1
2,alfa-romero,gas,std,two,front,ohcv,six,mpfi,0,0,1,0,0,0,0,1
3,audi,gas,std,four,front,ohc,four,mpfi,0,0,0,1,0,0,1,0
4,audi,gas,std,four,front,ohc,five,mpfi,0,0,0,1,0,1,0,0

# Label Binarizer Vs getdummies()

# Label Binarizer - it is used for converting only one column. We cant perform multiple columns converting using this Label Binarizer.

# Where as we can convert multiple columns using getdummies() function

In [31]:
obj_col[:3]

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
0,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
1,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
2,alfa-romero,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi

In [32]:
from sklearn.preprocessing import LabelBinarizer

In [33]:
lb_style = LabelBinarizer()

In [35]:
lb_style.classes

AttributeError: 'LabelBinarizer' object has no attribute 'classes'

In [36]:
lb_result = lb_style.fit_transform(obj_col['body_style'])
lb_result

array([[1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0],
       ...,
       [0, 0, 0, 1, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 1, 0]])

In [37]:
lb_df = pd.DataFrame(lb_result, columns = lb_style.classes_)

In [38]:
lb_df.head()

   convertible  hardtop  hatchback  sedan  wagon
0            1        0          0      0      0
1            1        0          0      0      0
2            0        0          1      0      0
3            0        0          0      1      0
4            0        0          0      1      0

# Replacing with numerics

In [39]:
obj_col['num_cylinders'].value_counts().sort_values()

three       1
twelve      1
two         4
eight       5
five       11
six        24
four      159
Name: num_cylinders, dtype: int64

In [40]:
obj_col['num_doors'].value_counts().sort_values()

two      89
four    116
Name: num_doors, dtype: int64

In [41]:
dic1 = {'num_cylinders': {'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six':6, 'eight':8, 'twelve': 12}, 'num_doors':{'two': 2, 'four': 4}}

In [42]:
dic1

{'num_cylinders': {'two': 2,
  'three': 3,
  'four': 4,
  'five': 5,
  'six': 6,
  'eight': 8,
  'twelve': 12},
 'num_doors': {'two': 2, 'four': 4}}

In [43]:
obj_col.replace(dic1, inplace = True)

In [44]:
obj_col.dtypes

make               object
fuel_type          object
aspiration         object
num_doors           int64
body_style         object
drive_wheels       object
engine_location    object
engine_type        object
num_cylinders       int64
fuel_system        object
dtype: object

# Label Encoder

In [45]:
obj_col[:3]

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
0,alfa-romero,gas,std,2,convertible,rwd,front,dohc,4,mpfi
1,alfa-romero,gas,std,2,convertible,rwd,front,dohc,4,mpfi
2,alfa-romero,gas,std,2,hatchback,rwd,front,ohcv,6,mpfi

In [46]:
obj_col['make'].value_counts().head()

toyota        32
nissan        18
mazda         17
mitsubishi    13
honda         13
Name: make, dtype: int64

In [47]:
obj_col['make'].nunique()

22

In [48]:
obj_col['make'].value_counts()

toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
jaguar            3
chevrolet         3
alfa-romero       3
renault           2
mercury           1
Name: make, dtype: int64

In [49]:
from sklearn.preprocessing import LabelEncoder, LabelBinarizer

In [50]:
lb_make = LabelEncoder()

In [51]:
obj_col['make_code'] = lb_make.fit_transform(obj_col['make'])

In [52]:
obj_col[['make','make_code']].head(15)

           make  make_code
0   alfa-romero          0
1   alfa-romero          0
2   alfa-romero          0
3          audi          1
4          audi          1
5          audi          1
6          audi          1
7          audi          1
8          audi          1
9          audi          1
10          bmw          2
11          bmw          2
12          bmw          2
13          bmw          2
14          bmw          2

In [53]:
obj_col['make'].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [54]:
obj_col['make_code'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21])

In [55]:
obj_col[:3]

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system,make_code
0,alfa-romero,gas,std,2,convertible,rwd,front,dohc,4,mpfi,0
1,alfa-romero,gas,std,2,convertible,rwd,front,dohc,4,mpfi,0
2,alfa-romero,gas,std,2,hatchback,rwd,front,ohcv,6,mpfi,0

# Customer binary encoding

In [67]:
obj_col[:3]

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system,make_code
0,alfa-romero,gas,std,2,convertible,rwd,front,1,4,mpfi,0
1,alfa-romero,gas,std,2,convertible,rwd,front,1,4,mpfi,0
2,alfa-romero,gas,std,2,hatchback,rwd,front,1,6,mpfi,0

In [68]:
obj_col['engine_type'].value_counts()

1    189
0     16
Name: engine_type, dtype: int64

In [69]:
obj_col['engine_type'].nunique()

2

In [65]:
np.where(obj_col['engine_type'].str.contains('ohc'), 1, 0)

AttributeError: Can only use .str accessor with string values!

In [70]:
obj_col['engine_type'] = np.where(obj_col['engine_type'].str.contains('ohc'), 1, 0)

AttributeError: Can only use .str accessor with string values!

In [61]:
obj_col[['make','num_doors','engine_type']][:10]

          make  num_doors  engine_type
0  alfa-romero          2            1
1  alfa-romero          2            1
2  alfa-romero          2            1
3         audi          4            1
4         audi          4            1
5         audi          2            1
6         audi          4            1
7         audi          4            1
8         audi          4            1
9         audi          2            1